<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>E-Pocket Banking System - About</title>
</head>

<body>

    <table width="100%">

        <tr>

            <td><a href="../index.php"><img src="../assets/gallery/logo.jpg" alt="Logo" width="320px"></a></td>
            <td align="right"><a href="../index.php">
                    Login
                </a>&nbsp;&nbsp;
                <a href="registration.php">
                    Registration
                </a>&nbsp;&nbsp;
                <a href="about.html" target="_blank">
                    About
                </a></td>

        </tr>

    </table><br><br><br>

    <h1><u>Introduction:</u></h1>

    <p>The goal of this project is to get familiarized with both front-end and back-end web development. Also, by building up this project, we will be able to learn online banking system and It’s implementation as the domain of our project is Fintech Website. This project will allow us to scratch the surface of web development.</p><br>

    <h1><u>Background Study:</u></h1>
    <a href="https://www.bkash.com/">Bkash</a><br>
    <p>An online banking system which allows users to deposit and withdraw money. It also allows various transaction as well as flexi-load.</p><br>

    <a href="https://www.dsebd.org/">Dhaka Stock Exchange</a><br>
    <p>A stock market website for Bangladesh. This website has information of various brands and products. It gives updates on the prices of various products so users may invest in it as their business policy.</p><br>

    <a href="https://nagad.com.bd/">Nagad</a><br>
    <p>Another online banking system which allows users to deposit and withdraw money. It allows users to pay their utility fees as well as various transaction. Some users also use this platform to receive their salaries.</p><br>

    <a href="https://www.payoneer.com/">Payoneer</a><br>
    <p>An online wallet where a user can deposit and withdraw money. User can also receive money from other platforms. User can transfer credits to other platforms as well.</p><br>

</body>

</html>
